{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}

 <div class="col-md-6 col-md-offset-3">
  <div class="col-md-8 col-md-offset-2">
    <h1>Cadastra Produto</h1>
    <br>
  </div>

   
  <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{form|crispy}}


    <button type="submit" type="button" class="btn btn-success" onclick="return confirm('Voce tem certeza ?')">Cadastrar</button>
    <a class="btn btn-warning" href="{% url 'products:list_products' %}">Cancelar</a>
  </form>

</div>

{% endblock %}
