{% extends 'index.html' %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/logincss.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class = "container" style="padding:10px;display:table;">
<a class="btn btn-primary" href="{% url 'products:create_product' %}">Adicionar Produto</a>
<form class="configdiv" action="sell_products" method="post">
  <table class="table table-hover" style="margin:5px;">

    <tr>
      <th>Foto</th>
      <th>Nome</th>
      <th>Fabricante</th>
      <th>Preço</th>
      <th>Adicionar ao Carrinho</th>
    </tr>
    {% for product in all_products %}
    <tr>
      <td> <img height="100" width="100" src= "{{ product.picture.url }}"></img> </td>
      <td>{{ product.product_name}}</td>
      <td>{{ product.factory_name}}</td>
      <td>{{product.price  }}</td>
      <td><a class="glyphicon glyphicon-shopping-cart" type="submit" href="{% url 'products:add_to_cart' product.id %}"></a></td>
    </tr>

    {% endfor %}
</form>

</table>
</div>

{% endblock %}
