{% extends 'index.html' %}
{% load staticfiles %}

{% block head %}
<script src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{static 'js/grid-list.js' }"></script>

{% endblock %}

{% block body %}
<br><br>
<div class="container">
  <div class="well well-sm">
    <h2><strong>Produtos</strong><h2>
  </div>
  <div id="products" class="row list-group">


    {% for product in all_products %}
    <div class="item  col-xs-4 col-lg-4">
      <div class="thumbnail">
	<img class="group list-group-image" src="{{product.picture.url}}" alt="" />
	<div class="caption">
	  <h4 class="group inner list-group-item-heading">
	    {{product.product_name}}</h4>
	  <p class="group inner list-group-item-text">
          {{product.description}}
      </p>
	  <div class="row">
	    <div class="col-xs-12 col-md-6">
	      <p class="lead">
		R$ {{product.price}}</p>
	    </div>
	    <div class="col-xs-12 col-md-6">
	      <a class="btn btn-success" href="{% url 'products:add_to_cart' product.id %}">Adicionar ao carrinho</a>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="pagination">
    <span class="step-links">
        {% if all_products.has_previous %}
            <a href="?page={{ all_products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_products.number }} of {{ all_products.paginator.num_pages }}.
        </span>

        {% if all_products.has_next %}
            <a href="?page={{ all_products.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div>
{% endblock %}
