{% extends 'index.html' %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'css/logincss.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class = "container" style="padding:10px;display:table;">
<a class="btn btn-primary" href="{% url 'products:create_product' %}">Adicionar Produto</a>
<table class="table table-hover" style="margin:5px;">

  <tr>
    <th>Foto</th>
    <th>Nome</th>
    <th>Fabricante</th>
    <th>Preço</th>
    <th>Codigo de Barra</th>
    <th>Quantidade</th>
    <th>Deletar</th>
    <th>Editar</th>
  </tr>
  {% for product in all_products %}
  <tr>
    <td> <img height="100" width="100" src= "{{ product.picture.url }}"></img> </td>
    <td>{{ product.product_name}}</td>
    <td>{{ product.factory_name}}</td>
    <td>{{product.price  }}</td>
    <td>{{product.bar_code  }}</td>
    <td>{{product.amount}}</td>
    <td><a class="glyphicon glyphicon-trash" onclick="return confirm('Voce tem certeza que deseja deletar ?   (Essa operação é irreversível)')" href="{% url 'products:delete_products' product.id %}"></a></td>
    <td><a class="glyphicon glyphicon-pencil" href="{% url 'products:edit_product' product.id %}"></a></td>
  </tr>

  {% endfor %}
</table>
<a class="btn btn-primary" href="{% url 'products:create_product' %}">Adicionar Produto</a>
<br></br>
<a class = "glyphicon glyphicon-plus" href="{% url 'products:create_category' %}"> Criar Categoria </a>
</div>
{% endblock %}
