{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}

 {% csrf_token %}
<div class = "container" style="padding:10px;display:table;">
<a class="btn btn-primary" href="{% url 'products:create_product' %}">Carrinho</a>
<h2>Dados do Produto</h2>
<table class="table table-hover" style="margin:5px;">

  <tr>
    <th>Codigo do Pedido</th>
    <th>Nome</th>
    <th>Preço unitario<th>
    <th>Quantidade<th>
  </tr>
  {% for product_order in product_order %}
  <tr>
    <td>{{product_order.product.id}}</td>
    <td>{{product_order.product.product_name}}</td>
    <td>{{product_order.product.price}} R$</td>
    <td>{{ product_order.amount }}</td>
  </tr>
  {% endfor %}
</table>
  <br>
  <h2>Dados de Pagamento</h2>
<table class="table table-condensed">
    <tr>
      <th>Forma de pagamento:</th>
      <th>Bandeira do cartão:</th>
      <th>Troco:</th>
    </tr>
    <tr>
   <td><p>{{ order.payment}}</p></td>
   <td><p>{{ order.flag}}</p></td>
   <td><p>{{ order.change}}</p></td>
    </tr>
  </table>
  <br>
  <h2>Dados do cliente</h2>
<table class="table table-condensed">
    <tr>
      <th>Nome do cliente:</th>
      <th>Email:</th>
      <th>endereco:</th>
    </tr>
    <tr>
   <td><p>{{client.first_name}}</p></td>
   <td><p>{{client.username}}</p></td>
   <td><p>{{client.endereco}}</p></td>
    </tr>
  </table>
  <h2>Preço Total: {{total_price}} R$</h2>
  {% endblock %}
