{% extends "base.html"%}

{%block body%}
<div class = "container" style="width:500px;margin:0 auto;">
  <h2>Tem certeza que precisa deletar?</h2>
  <br>
  <form class="configdiv" action="" method="post">
    {% csrf_token%}
    <div class = "container" style="width:500px;margin:0 auto;">


      <button type="submit" type="button" class="btn btn-success" onclick="return confirm('Voce tem certeza ?')" name="button">Confirmar</button>
      </form>

      <a type="button" class="btn btn-danger" href="{%url 'products:list_products'%}" name="button">Cancelar</a>
    </div>
</div>

{% endblock%}
